"*":
  editor:
    showIndentGuide: true
    invisibles: {}
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.94.0"
