"*":
  "atom-beautify":
    _analyticsUserId: "3ce0c612-67ef-4345-bc9f-54e528cb1895"
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general: {}
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js: {}
    js_brace_style: "none"
    js_end_with_comma: true
    js_end_with_newline: true
    js_jslint_happy: true
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "native-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  fonts:
    fontFamily: "Source Code Pro Medium"
    preview: "Defaut"
  "fuzzy-finder": {}
  linter:
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs": {}
  minimap: {}
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "status-bar": {}
  welcome:
    showOnStartup: false
  whitespace: {}
